// Colour
$parcey: #125430;
$fun-green: #007837;
$green: #00ab4e;
$sushi: #80c342;
$frost: #edf4db;
$shark: #1d2327;
$outer-space: #283137;
$limed-spruce: #39464e;

$white: #fff;

// Spacing
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 42px;
$space-xxl: 64px;

// Borders and radius
$button-radius: 4px;
$overlay-radius: 8px;
$round-radius: 50%;

// Typography
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

$font-size-20: 20px;
$font-size-23: 23px;
$font-size-26: 26px;
